  @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 80vw;
    font-family: 'Ubuntu', sans-serif;
}

.navbar{
    display: flex;
    height: 65px;
    /* font-family: 'Ubuntu', sans-serif; */
}

.navbar li{
    list-style: none;
    margin: 0 12px;
}

.topleft{
    width: 50%;
    padding: 12px 0px;
}

.topright{
    width: 50%;
    padding: 12px 0px;
}

.section1{
    max-height: 120vh;
}

.section1 h1{
    font-size: 1.9rem;
}

.logo{
    font-size: 4rem;
}

.apple{
    width: 400px;
}

.protein{
    width: 80px;
}

.section2{
    padding: 70px;
}

.section2 h1{
    font-size: 3.5rem;
}

.section2 p{
    padding: 0 9vh;
    text-align: center;
}

.box{
    padding: 8px 0;
    margin: 12px 22px;
    min-width: 20vw;
    border: 2px solid black;
    border-radius: 8px;
    text-align: center;
}

.box h2{
    font-size: 2rem;
    padding: 13px 0px;
}

.highlighted{
    font-size: 1.2rem;
    font-weight: bolder;
}

.box ul{
    list-style-type: none;
}

.box ul li{
    margin: 12px 2px;
}

.plantable{
    display:flex;
    justify-content: left;
    align-items: center;
}

.section3 table{
    width: 100%;
    margin-bottom: 140px;
    margin-top: 20px;
    border-collapse: collapse;
}

.section3 table th{
    width: 23vw;
    border-bottom: 2px solid black;
    padding: 15px;
}

.section3 table td{
    border-bottom: 2px solid black;
}

.section3 table tr{

}

.section3{
    padding: 60px;
}

.section3 h1{
    font-size: 2.5rem;
}

footer{
    padding: 23px;
    text-align: center;
}